body {
    background: #333333;
    margin: 0;
     background-image: url(/IMAGES/woodsBackground12.jpg);
     background-size: cover; 
     background-position: center; 
     background-repeat: no-repeat;
}

.tiles {
    margin: 48px auto;
    width: max-content;
    display: grid;
    gap: 16px;
}

.tile {
    height: 100px; 
    background: #111111;
    border: 5px solid #444444;
    cursor: pointer;
}

.tiles[data-tile-count="4"] {
    grid-template-columns: repeat(2, 100px); 
}


.tiles[data-tile-count="6"] {
    grid-template-columns: repeat(3, 100px); 
}

.tiles[data-tile-count="16"] {
    grid-template-columns: repeat(4, 100px); 
}
.info-button {
    position: fixed;
    top: 20px; 
    right: 20px; 
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 1000; 
}
