body {
    background:white;
    margin: 0;
    /* Add background image */
    background-image: url(/IMAGES/workingOnThis2.jpg);
    /* Adjust background image properties */
    background-size: cover; /* Cover the entire body */
    background-repeat: no-repeat; /* Do not repeat the background image */
}
